<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width[_{{{CITATION{{{_1{](https://github.com/kiroboio/ki-eth-token/tree/b0f75d461e28efb8bf16732090ff1720d47094b7/e2e%2Ftest%2FTrezorE2E.js)[_{{{CITATION{{{_2{](https://github.com/pedroh-cm/clima-app/tree/72c4bf0c695930d1c5b17762c845caaf48a79842/index.js)[_{{{CITATION{{{_3{](https://github.com/amorphous121/course-rest-api-demo/tree/710114f932ab654c6ddcb371be475142d7dde075/server.js)[_{{{CITATION{{{_4{](https://github.com/dattruonghuu/server-side-script/tree/5ec716649e9fcd86f38b396f5fde9d233cdd9f09/router%2FimageRouter.js)[_{{{CITATION{{{_5{](https://github.com/EleanorEllingson/web-dev/tree/b2f2a382e77a20fd6895677c8b8f402ac4bae352/7-bank-project%2F1-template-route%2Ftranslations%2FREADME.ko.md)[_{{{CITATION{{{_6{](https://github.com/jokerai-draft/lpthw-backend/tree/c65e56c56d3be34d797ea2ca7352387a10ff281e/appendix%2Fpoc103%2Fproject1WITHARTICLE%2Fview.article.edit.php)
    <title>Articles List</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <div class="color-block">
            <img src="logo.png" alt="Women's Football Logo" class="logo">
            <h1>Women's Football News</h1>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/articles/list">Articles</a></li>
                <li><a href="/articles/add">Add Article</a></li>
            </ul>
        </nav>
    </header>
    <main class="article-list">
        <h1>Articles List</h1>
        <ul>
			<% articles.forEach(function(article) { %>
				<li>
					<a href="/articles/edit/<%= article.id %>">
					<h2><%= article.title %></h2>
					</a>
				</li>
			<% }); %>
		</ul>


    </main>
    <footer>
        <p>© 2024 Women's Football News</p>
    </footer>
</body>
</html>
