<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/style.css">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2S2ZGQ6F6H"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-2S2ZGQ6F6H');
    </script>
</head>
<body>
    <header>
        <h1>Sign Up</h1>
    </header>
    <main>
        <form id="signupForm" action[_{{{CITATION{{{_1{](https://github.com/bgoonz/web-dev-utils-package/tree/65a7b21c0444f4cbeb3c313a750fb43560047e77/personal-utilities%2Fcopy-2-clip%2FREADME.md)[_{{{CITATION{{{_2{](https://github.com/wiindha/PraktikumWebD/tree/8e0aa794f31847c2ad46b081a1427cafec12f6fe/Tugas12%2FMasuk.php)[_{{{CITATION{{{_3{](https://github.com/seans888/my-project-linckt/tree/c6a4c0a4547f37d017cc9dac6f296825c184ab02/Application%2Flinckt%2Flogin.php)[_{{{CITATION{{{_4{](https://github.com/stefaniaelenaa/Task3Tema/tree/44ef259f09d0c6f7c7eb6eb0c15ac0e2511a7f3b/login.php)[_{{{CITATION{{{_5{](https://github.com/kevinsvni/jobportal_php/tree/493efef6ee1e9d9192c12378ad26ed50369f8e04/authenticate%2Fsignup.php)
